<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <title>캘린더 메인</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script  src="/app.js" defer></script>

</head>
<body>

<div class="content-wrap">
    <div class="content-left">
        <div class="main-wrap">
            <span class="main-day">monday</span>
            <span class="main-date">24</span>
        </div>
        <form  class="todo-wrap">
            <span class="todo-title">to do list</span>
            <div class="input-wrap">

                <input required id="deadlineTime" name="deadlineTime" class="input-time" type="time" />
                <input required id="input_text" name="input_text"
                        class="input-text"
                        type="text"
                        placeholder="Please write here!"
                />
                <button type="submit">+</button>
                <ul class="todo-list">

                </ul>
            </div>
        </form>
    </div>
    <div class="content-right">
        <div class="nav">
            <button class="nav-btn go-prev" onclick="prevMonth()">&lt;</button>
            <span class="year-month">July</span>
            <button class="nav-btn go-next" onclick="nextMonth()">&gt;</button>
            <button class="go-today" >today</button>

        </div>
        <ul class="days">
            <li class="day">S</li>
            <li class="day">M</li>
            <li class="day">T</li>
            <li class="day">W</li>
            <li class="day">T</li>
            <li class="day">F</li>
            <li class="day">S</li>
        </ul>
        <div class="calendar"></div>
    </div>
</div>
</body>
</html>